<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据标注平台</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="container">
        <h1>数据标注平台</h1>
        <div id="image-container">
            <img id="current-image" src="" alt="Image to rate">
            <div id="image-info">剩余图像质量未判断的数量: <span id="image-count">0</span></div>
        </div>
        <div class="button-container">
            <button id="good-btn" class="btn good">正确</button>
            <button id="bad-btn" class="btn bad">错误</button>
        </div>
        <div id="message"></div>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>